.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--gradient-primary-reverse);

  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease, visibility 0.4s ease,
    background-color 0.3s ease;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
}

.scrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.scrollIcon {
  color: #fff;
}
